
node_modules/
npm-debug.log*
yarn-error.log
.env


logs/
*.log
debug.log


dist/
coverage/
.out/
.cache/


.dockerignore
Dockerfile
docker-compose.yml

terraform.tfstate
terraform.tfstate.backup
.terraform/
