
image:
  repository: sammielas/fintech-app
  pullPolicy: Always
  containerName: "fintech-app"
  tag: 20250607095603
service:
  port: 3000

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"