
image:
  repository: sammielas/fintech-app
  pullPolicy: Always
  containerName: "fintech-app-dev"
  tag: 4b23aac
service:
  port: 3000
env:
  - name: JWT_SECRET
    valueFrom:
      secretKeyRef:
        name: jwt-secret
        key: jwt


resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"