
image:
  repository: sammielas/fintech-app
  pullPolicy: Always
  containerName: "fintech-app-dev"
  tag: does-not-exist
service:
  port: 9999

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"