
image:
  repository: 583727125603.dkr.ecr.us-east-1.amazonaws.com/fintech-dev-app
  pullPolicy: Always
  containerName: "fintech-app"

service:
  port: 3000

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"